development: &default
  adapter: postgresql
  host: localhost
  encoding: utf8
  reconnect: false
  database: accounts-dev
  pool: 5
  username: natkinson
  password:
  min_messages: warning

test:
  <<: *default
  database: accounts-test

production:
  <<: *default
  database: accounts