.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: grey;
  opacity: 0.5;
}

.link:hover {
  opacity: 0.7;
}

marker {
  fill: grey;
}