<!DOCTYPE html>
<html>
<head>
  <title>Accounts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'charset' => 'utf-8' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <svg>
    <defs>
      <marker xmlns="http://www.w3.org/2000/svg" id="Triangle" viewBox="0 0 10 10" refX="0" refY="5" markerUnits="strokeWidth" markerWidth="1" markerHeight="1" orient="auto" style="fill: #000; fill-opacity: .2;">
        <path d="M 0 0 L 5 5 L 0 10 z"/>
      </marker>
    </defs>
  </svg>
  <div id="chart"></div>

<%= yield %>

</body>
</html>
